<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:render partial="Project/Properties" arguments="{project:project}" />

	<f:for each="{project.content}" as="content">
		<f:if condition="{content.ctype}">
			<f:cObject typoscriptObjectPath="tt_content.{content.ctype}.10" data="{content}" />
			<f:cObject typoscriptObjectPath="tt_content.{content.ctype}.20" data="{content}" />
		</f:if>
	</f:for>

	<div class="project-tags">
		<p><strong><f:translate key="tags">Tags:</f:translate></strong></p>
		<ul class="project-tags-list">
		<f:for each="{project.tags}" as="tag">
			<li>{tag.name}</li>
		</f:for>
		</ul>
	</div>

	<span class="back">
		<f:link.action controller="Customer" action="show" arguments="{customer: customer}">
			<f:translate key="backToList">Back to list</f:translate>
		</f:link.action>
	</span>

</f:section>