<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<div class="customer-project-list">
		<f:render partial="Project/Properties" arguments="{project:project}" />
	</div>

	<p>Tags:
	<f:for each="{project.tags}" as="tag">
		<span>{tag.name}</span>
	</f:for>
	</p>

	<f:for each="{project.content}" as="content">
		{content.uid}
	</f:for>

	<span class="back">
		<f:link.action controller="Customer" action="list" arguments="{customer: customer}">
			<f:translate key="backToList">Back to list</f:translate>
		</f:link.action>
	</span>

</f:section>