<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<div>
		<f:for each="{customers}" as="customer">
			<section>
				<h3><f:link.action action="show" arguments="{customer : customer}"> {customer.title}</f:link.action></h3>
				<figure>
					<f:link.action action="show" arguments="{customer : customer}">
						<f:image src="uploads/tx_folio/{customer.image}" alt="{customer.title}" width="200" />
					</f:link.action>
				</figure>
				<p>
					<f:format.crop maxCharacters="200" append="&nbsp;..."><f:format.stripTags>{customer.description}</f:format.stripTags></f:format.crop>
					<span class="customer-detail">
						<f:link.action action="show" arguments="{customer : customer}">
							<f:translate key="customer.details">Customer Details</f:translate>
						</f:link.action>
					</span>
				</p>
			</section>
		</f:for>
	</div>

</f:section>