<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />
	<div class="customer-show">
		<f:render partial="Customer/Properties" arguments="{customer:customer}" />


		<f:for each="{customer.project}" as="project">
			<div class="customer-project-item">
				<f:link.action controller="Project" action="show" arguments="{project : project}">{project.name}</f:link.action>
			</div>
		</f:for>
	</div>

	<span class="back">
		<f:link.action action="list">
			<f:translate key="backToList">Back to list</f:translate>
		</f:link.action>
	</span>

</f:section>